// If you will work with this, please understand me 
// I can't work with this people, because during last 12 hours the edit template over 100 times
// I just want to write some code and end this project
// If you want to talk: alex.thesmithsfan@gmail.com
// Goodbye

.card {
	&.card-minh {
		> .card-content {
			min-height: 200px;

			> form {
				> .form-row {
					&.form---row {
						flex-direction: row;
					}
				}
			}
		}
	}
} 
 
@media screen and (max-width: 1280px) {
	.card-rrrow {
		>.card {
			>.card-content{
				min-height: 220px!important; 
			}
		}
	}
}
 
@media screen and (max-width: 1240px) {
	.card-rrrow {
		>.card {
			overflow: hidden;
			>.card-content{
				min-height: 320px!important; 
			}
		} 
	} 
	.im-tired {
		flex-direction: row!important;

		label {
			min-width: 80px!important;
			max-width: 100px;
		}
		input {
			flex: 1!important;
			width: 80%!important;
		}
	}
}


@media screen and (max-width: 1066px) {
	.card {
		&.card-minh {
			> .card-content {
				> form {
					> .form-row {
						&.form---row {
							> * {
								flex: 1;
							}
							>input {
								max-width: 50%;
							}
						}
					}
				}
			}
		}
	} 
}

@media screen and (max-width: 1030px) {
	.card {
		&.card-minh {
			flex: 1!important;
		}
	} 
} 

.fff_header {
	display: none;
}
 
@media screen and (max-width: 720px) {
	.card {
		&.card-minh {
			> .card-content {
				min-height: 100px;
			}
			form.form {
				.form-column-and-row {
					flex-direction: column!important;
				}
				
			}
			.button-group {
				margin-top: 27px!important;
			}
		}
	} 
	.card-rrrow {
		>.card {
			>.card-content{
				min-height: 160px!important; 
			}
		}
	}
	.fff_header {
		display: block;
	}
	.fff_hide {
		display: none!important;
	}

} 
 
@media screen and (max-width: 639px) {
	.settings-7
	{
		.form 
		{
			.form-row
			{
				display: block;
				input 
				{
					width: 90%!important;
				}
			}
		}
	}
	.card-row.card-rrrow {
		// flex-direction: column; 
		display: block;

		>.card {
			margin-bottom: 5px!important;
			max-width: 100%!important;
		}
	}
	.card_row.card-rrrow {
		>.card {
			>.card-content{
				min-height: 50px!important; 
			}
		}
	}
} 

 
@media screen and (max-width: 530px) {
	.card {
		&.card-zxc {
			> div {
				display: block;
				width: 100%;
			}
			.form-row  {
				&.form-oof {
					margin-top: 25px!important;
				}
			}	
			.button-group { 
				margin-top: 30px!important;
			}
		}

		&.card-minh {
			> .card-content {
				min-height: 250px; 
				padding: 5px;
			}
			form.form {
				&.form-zxc {
					input {
						padding: 20px 12px;
						margin-top: 30px!important;
						margin-bottom: 25px!important;
						font-size: 18px;
					}
					.button-group {
						margin-top: 30px!important;
					}
				}
				&.form-weighing { 
					.form-row {
						display: block;
						// flex-direction: column!important;
						> * {
							display: block;
							max-width: 100%;
						}
						>input {
							max-width: 100%;
						} 
					}
				}	
			}
			.button-group {
				margin-top: 27px!important;
			}
		}
	} 
}  

@media screen and (min-width: 720px) and (max-width: 1024px) {
	.form .form-row.im-tired {
		flex-direction: row!important;
		>* {
			flex: 1;
		}
	}
}

@media screen and (max-width: 480px) {
	.h {
		display: none; 
	}

	.vs-mobile {
		margin: 0 5px;
	}

	.ml-mobile {
		margin-left: 15px;
	}

	.form.form-weight-2.form label.label-lh {
		line-height: 150%!important;
	}

	.card {
		&.card-zxc {
			.button-group { 
				margin-top: 10px!important;
			}
		}

		&.card-minh {
			> .card-content {
				min-height: 100px; 
				padding: 5px; 
			} 
			form.form {
				&.form-zxc { 
					input {
						padding: 10px 12px;
						margin-top: 3px!important;
						margin-bottom: 3px!important;
						font-size: 14px;
					}
					.button-group {
						margin-top: 3px!important;
					}
					.fuck-row {
						flex-direction: row!important;
						margin-bottom: 10px!important;
					}
				}
				&.form-weighing { 
					.form-row {
						// flex-direction: column!important;
						>input {
							max-width: 100%;
						} 
						label {
							line-height: 100%;  
						}
					}
				}	
			}
			.button-group {
				margin-top: 3px!important;
			}
		}
	} 
}